<% if list.persisted? %>
  <% model = list %>
<% else %>
  <% model = [list.board, list]%>
<% end %>

<%= form_with(model:, class: "max-w-md mx-auto") do |form| %>
  <% if list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.text_field :name, autocomplete: 'off', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
  </div>

  <div class="mb-4">
    <%= form.label :board, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.text_field :board, value: list.board.name, disabled: true, class: "bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" %>
  </div>

  <div>
    <%= form.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
  </div>
<% end %>
