<div id="<%= dom_id list %>" class="text-white">
  #<%= list.id %> <b><%= list.name %></b> at position <%= list.position %>
</div>

<ul data-controller="sortable" data-sortable-group-value="tasks" data-list-id="<%= list.id %>" class="min-h-80 max-h-160 flex flex-nowrap flex-col overflow-y-auto gap-2">
  <% list.tasks.each do |task| %>
    <li data-task-id="<%= task.id %>" class="">
      <%= render task %>
    </li>
  <% end %>
</ul>
