<div id="<%= dom_id task %>" class="flex p-4 rounded-sm bg-stone-50 shadow-md cursor-grab">
  <div class="flex-1">
    <p class="font-semibold"><%= task.name %></p>
    <p>ID (<%= task.id %>) at position <%= task.position %></p>
  </div>
  <div>
    <%= link_to edit_task_path(task), data: { turbo_frame: 'modal' }, class: "text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-md text-sm w-6 h-6 ms-auto inline-flex justify-center items-center" do %>
      <%= inline_svg_tag "icons/pencil.svg" %>
    <% end %>
    <%= button_to task_path(task), method: :delete, class: "text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-md text-sm w-6 h-6 ms-auto inline-flex justify-center items-center" do %>
      <%= inline_svg_tag "icons/trash.svg" %>
    <% end %>
  </div>
</div>
